@import "~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";

body{
  overflow: hidden;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mCSB_inside > .mCSB_container{
  margin-right: 0;
}

.scrolling-content{
  overflow: auto;
  position: relative;
  height: 100vh;
}

.header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  img{
    display: block;
    height: 110%;
    max-width: 100%;
  }
}

.about{
  position: relative;
  padding: 30%;
  .circle{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 100px;
    height: 100px;
    background-color: #f11212;
    border-radius: 50%;
  }
  .square{
    position: absolute;
    right: 20%;
    top: 20%;
    width: 100px;
    height: 100px;
    background-color: #f11212;
  }
}